<!-- <form (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input type="email" id="email" [(ngModel)]="formData.email" name="email" required>

    <label for="password">Name:</label>
    <input type="password" id="password" [(ngModel)]="formData.password" name="password" required>
  
    <button type="submit">Submit</button>
</form> -->
<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">Login</h2>
            <form (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" [(ngModel)]="formData.email" name="email" class="form-control" id="email" placeholder="Enter your email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="password" [(ngModel)]="formData.password"placeholder="Enter your password" required>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-dark">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>